<h2>LOCATIONS AND CONTACTS</h2>

<div class="card">
    <div class="card-header">
        Remitano Dev
    </div>
    <div class="card-body">
        <h5 class="card-title">REMITANO</h5>
        <p class="card-text">Remitano is a decentralized BITCOIN exchange that allows you to simply and safely buy and sell Bitcoin with other users. ... Remitano is already available in X countries and facilitates trades worth more than 1,000 Bitcoin a day across the World.</p>
        <a href="https://remitano.com/btc/au" class="btn btn-primary">Remitano</a>
        <email address="noreply@remitano.com" content="Contact us" class="card-link"></email>
    </div>
</div>
