@page
@model RemitanoDevTask.Views.Pages.IndexModel
@{
                                             
}


<table>
    <thead >t1 @ViewData[""]</thead>
    <tbody>
    <tr>
        <td>td11</td>
        <td>td12</td>
    </tr>
    <tr>
        <td>td21</td>
        <td>td22</td>
    </tr>
    </tbody>
</table>
